*{
    margin: 0;
    padding: 0;
    border: 0;
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.firstPlayer{
    position: absolute;
    top: 0;
    background-color: green;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    z-index: 10;
}

.firstPlayer h1{
    position: relative;
    text-align: center;
    top: 40vh;
}

.hidden{
    display: none;
}

.roleChoice{
    position: absolute;
    top: 0;
    background-color: green;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    z-index: 10;
}

.chooseRole, .chooseRole label, .chooseRole input, .roleChoice button, .roleChoice h1{
    position: relative;
    top: 40vh;
    left: 40vw;
}

.roleInfo {
    z-index: 1;
    position: absolute;
    top: 3vh;
    left: 50vw;
}

.endGame {
    position: absolute;
    top:20vh;
}
